/**/

body {
    @apply bg-gray-900;
}

#root {
    font-family: "Reddit Sans", serif;
    max-width: 720px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}